<div>
    <h5 class="bg-info">
        <button ng-click="vm.newCenter()" class="btn btn-success">
            <i class="fa fa-plus-circle"></i> Create center</button>
        Centers available
    </h5>
    <br>
    <div loading-container="vm.tableParams0.$loading">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th ng-click="vm.tableParams0.sortBy('id')" class="cursor-hand"> id
                        <b ng-class="vm.tableParams0.params.classes.id"></b>
                    </th>
                    <th ng-click="vm.tableParams0.sortBy('schoolName')" class="cursor-hand"> School name
                        <b ng-class="vm.tableParams0.params.classes.schoolName"></b>
                    </th>
                    <th ng-click="vm.tableParams0.sortBy('professorName')" class="cursor-hand"> Teacher Name
                        <b ng-class="vm.tableParams0.params.classes.professorName"></b>
                    </th>
                    <th>Teacher Email</th>
                    <th ng-click="vm.tableParams0.sortBy('language')" class="cursor-hand"> Default Language
                        <b ng-class="vm.tableParams0.params.classes.language"></b>
                    </th>
                    <th>Enroll password</th>
                    <th>Allow external enroll</th>
                    <th>Allow publish scores</th>
                    <th style="width:150px">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="u in vm.tableParams0.$data" ng-click="vm.changeSelection(u)" ng-class="u==selection?'bg-warning':''" form-errors="u.$errors">
                    <td>
                        {{u.id}}
                    </td>
                    <td>
                        <span ng-if="!u.edit">{{u.schoolName}}</span>
                        <span ng-if="u.edit">
                            <input type="text" ng-model="u.schoolName" name="schoolName" uib-popover="{{u.$errors['schoolName']}}" popover-trigger="'outsideClick'"
                            />
                        </span>
                    </td>
                    <td>
                        <span ng-if="!u.edit">{{u.professorName}}</span>
                        <span ng-if="u.edit">
                            <input type="text" ng-model="u.professorName" name="professorName" uib-popover="{{u.$errors['professorName']}}" popover-trigger="'outsideClick'"
                            />
                        </span>
                    </td>
                    <td>
                        <span ng-if="!u.edit">{{u.professorEmail}}</span>
                        <span ng-if="u.edit">
                            <input type="text" ng-model="u.professorEmail" name="professorEmail" uib-popover="{{u.$errors['professorEmail']}}" popover-trigger="'outsideClick'"
                            />
                        </span>
                    </td>
                    <td>
                        <select ng-model="u.language" ng-disabled="!u.edit" name="language" uib-popover="{{u.$errors['language']}}" popover-trigger="'mouseover'">
                            <option label="Català" value="ca"></option>
                            <option label="Español" value="es"></option>
                            <option label="English" value="en"></option>
                        </select>
                    </td>

                    <td>
                        <input type="text" ng-model="u.enrollPassword" ng-disabled="!u.edit" name="enrollPassword" uib-popover="{{u.$errors['enrollPassword']}}"
                            popover-trigger="'outsideClick'" />
                    </td>

                    <td>
                        <input type="checkbox" ng-model="u.canEnroll" ng-disabled="!u.edit" ng-true-value="1" ng-false-value="0" name="canEnroll"
                            uib-popover="{{u.$errors['canEnroll']}}" popover-trigger="'mouseover'" />
                    </td>

                    <td>
                        <input type="checkbox" ng-model="u.canPublish" ng-disabled="!u.edit" ng-true-value="1" ng-false-value="0" name="canPublish"
                            uib-popover="{{u.$errors['canPublish']}}" popover-trigger="'mouseover'" />
                    </td>

                    <td style="width:150px">
                        <div>
                            <button class='fa fa-trash' title="delete" ng-if="!u.edit && u.id" ng-click='vm.confirmDlg0(u)'> </button>
                            <button class='fa fa-pencil' title="edit" ng-if="!u.edit" ng-click='vm.edit0(u)'> </button>
                            <button class='btn-success fa fa-save' title="save" ng-if="u.edit" ng-click='vm.save0(u)'> </button>
                            <button class='btn-danger fa fa-stop' title="cancel" ng-if="u.edit" ng-click='vm.cancel0(u)'>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


        <ul class="pull-left" uib-pagination items-per-page="vm.tableParams0.params.count" total-items="vm.tableParams0.params.total"
            ng-model="vm.tableParams0.params.page" max-size="vm.tableParams0.params.maxSize" class="pagination-sm" boundary-links="true"
            force-ellipses="true" ng-change="vm.tableParams0.paginate()"></ul>
        <div class="btn-group pull-right">
            <button ng-repeat="b in vm.tableParams0.params.counts" type="button" class="btn" ng-class="b===vm.tableParams0.params.count?'btn-primary':'btn-default'"
                ng-click="vm.tableParams0.setCount(b)">{{b}}</button>
        </div>

    </div>
</div>