<div class="modal-header">
    <h3 class="modal-title">
        <span ng-if="u.id"> Edit user {{u.fullname}} </span>
        <span ng-if="!u.id"> Create a new user </span>
    </h3>
</div>

<div class="modal-body" form-errors="$errors">
    <uib-tabset active="active">
        <uib-tab index="0" heading="User {{u.idRole===RoleParents?' - Family':''}}">

            <label for="idRole">
                <span translate="ROLE"></span>
            </label>

            <pwc-role-picker id-role="u.idRole" on-changes="roleChanged($event)"></pwc-role-picker>

            <label for="username">
                <span translate="USERNAME"></span>
            </label>
            <input class="form-control" name="username" id="username" type="text" ng-model="u.username" uib-popover="{{$errors['username']}}"
                popover-trigger="'outsideClick'" />

            <label for="fullname">
                <span translate="FULLNAME"></span>
            </label>
            <input class="form-control" name="fullname" id="fullname" type="text" ng-model="u.fullname" uib-popover="{{$errors['fullname']}}"
                popover-trigger="'outsideClick'" />

            <label for="password">
                <span translate="PASSWORD"></span>
                <button ng-if="u.id" class="btn-danger" ng-click="opts.showPwdField=!opts.showPwdField;">Change</button>
            </label>
            <input ng-if="opts.showPwdField" class="form-control" name="password" id="password" type="text" ng-model="u.password" uib-popover="{{$errors['password']}}"
                popover-trigger="'outsideClick'" ng-password-strength autocomplete="off" autocapitalize="none" autocorrect="off"
            />

            <br/>
            <label for="recovery">
                <span translate="RECOVERY_KEY"></span>
            </label>
            <input class="form-control" name="recovery" id="recovery" type="text" ng-model="u.recovery" uib-popover="{{$errors['recovery']}}"
                popover-trigger="'outsideClick'" />

            <label for="email">
                <span translate="EMAIL"></span>
            </label>
            <input class="form-control" name="email" id="email" type="text" ng-model="u.email" uib-popover="{{$errors['email']}}" popover-trigger="'outsideClick'"
            />

            <label for="emailPassword">
                <span translate="EMAILPASSWORD"></span>
            </label>
            <input class="form-control" class="form-control" name="email" id="emailPassword" type="text" ng-model="u.emailPassword" uib-popover="{{$errors['emailPassword']}}"
                popover-trigger="'outsideClick'" />

            <label for="valid">
                <span translate="VALID"></span>
            </label>
            <pwc-status-picker status="u.valid" on-changes="statusChanged($event)"></pwc-status-picker>

            <label for="mustChgPwd">
                <span translate="MUSTCHGPWD"></span>
            </label>
            <input name="mustChgPwd" id="mustChgPwd" type="checkbox" ng-model="u.mustChgPwd" uib-popover="{{$errors['mustChgPwd']}}"
                popover-trigger="'mouseenter'" />
            <br/>
        </uib-tab>
        <uib-tab ng-if="u.idRole===RoleParents" index="1" heading="Offspring ({{studentsSelected.length}})">
            <div style="min-height:200px">
                <multiple-autocomplete ng-model="studentsSelected" after-select-item="afterSelect" object-property="fullname" suggestions-arr="students">
                </multiple-autocomplete>
            </div>
        </uib-tab>
    </uib-tabset>




</div>
<div class="modal-footer">
    <button class="btn btn-warning fa fa-remove" ng-click="cancel()">
        <span translate="CANCEL"></span>
    </button>
    <button class="btn btn-primary fa fa-check" ng-click="ok()">
        <span translate="ACCEPT"></span>
    </button>
</div>