header.app-header.navbar {
    height: 45px !important;
}
.navbar-brand {
    background-image: url('./assets/img/logo.png') !important;
    background-size: 40px 40px !important;
    height: 45px !important;
    width: 130px !important;
} 
.loading-spinner {
    background: rgba(150, 150, 150, 0.5);
    z-index: 1000;
}