<p-dialog header="Edit challenge" [(visible)]="visible" [modal]="true" [responsive]="true" [width]="650" [minWidth]="500">

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Level*:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="level" placeholder="Required" />
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formGroup.controls['level'].valid&&formGroup.controls['level'].dirty">
                        <i class="fa fa-close"></i>
                        level is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Formulation (Html)*:
                    </div>
                    <div class="ui-grid-col-10">
                        <textarea formControlName="formulation" rows="6" style="width:100%" ></textarea>
                    </div> 
            </div>
            <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        From date*:
                    </div>
                    <div class="ui-grid-col-6">
                         <p-calendar appendTo="body" formControlName="fromDay" dateFormat="dd/mm/yy" [locale]="locale"></p-calendar>  
                    </div>
                    <div class="ui-grid-col-4">
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formGroup.controls['fromDay'].valid&&formGroup.controls['fromDay'].dirty">
                            <i class="fa fa-close"></i>
                            fromDay is required
                        </div>
                    </div>
            </div> 
            <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        To date*:
                    </div>
                    <div class="ui-grid-col-6">
                            <p-calendar appendTo="body" formControlName="toDay" dateFormat="dd/mm/yy" [locale]="locale"></p-calendar>  
                    </div>
                    <div class="ui-grid-col-4">
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formGroup.controls['toDay'].valid&&formGroup.controls['toDay'].dirty">
                            <i class="fa fa-close"></i>
                            toDay is required
                        </div>
                    </div>
            </div> 
            <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Score*:
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="number" formControlName="score" placeholder="Required" />
                    </div>
                    <div class="ui-grid-col-4">
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formGroup.controls['score'].valid&&formGroup.controls['score'].dirty">
                            <i class="fa fa-close"></i>
                            toDay is required
                        </div>
                    </div>
            </div> 
            <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        RightAnswer:
                    </div>
                    <div class="ui-grid-col-10">
                        <textarea formControlName="ranswer" rows="3" style="width:100%" ></textarea>
                    </div> 
            </div>

            <div class="ui-message ui-messages-error ui-corner-all" role="alert" *ngIf="serverValidationErrors">
                {{serverValidationErrors}}
            </div>

        </div>
        <p-footer>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <button type="submit" [disabled]="!formGroup.valid" class="btn btn-sm btn-success">
                        <span class="fa fa-check">OK</span>
                    </button>
                    <button class="pull-left btn btn-sm btn-danger" type="button" (click)="close()">
                        <span class="fa fa-close">Cancel</span>
                    </button>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>