
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
 
<app-challenge-edit *ngIf="challengeEdtForm" [formGroup]="challengeEdtForm" (onSave)="reload($event)"></app-challenge-edit>

<p-table [value]="challenges" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="challengeSelected"
    dataKey="id" (onRowSelection)="onChallengeSelect($event)">
    <ng-template pTemplate="caption">
            <button class="btn btn-sm" (click)="reload()">
                    <span class="fa fa-refresh"></span>
            </button>
            <b>Challenges</b>
            <button class="btn btn-sm btn-success" (click)="createChallenge()">
                <span class="fa fa-plus-circle"></span>
            </button>
       
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Level</th>
            <th>Formulation</th>
            <th>From day</th>
            <th>To day</th>
            <th>Score</th>
            <th>Right answer</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
            <td>{{rowData.level}}</td>
            <td>{{rowData.formulation}}</td>
            <td>{{rowData.fromDay | date: 'dd/MM/yyyy'}}</td>
            <td>{{rowData.toDay | date: 'dd/MM/yyyy'}}</td>
            <td>{{rowData.score}}</td>
            <td>{{rowData.rightAnswer}}</td>
            <td>
                <button class="btn btn-sm btn-danger" (click)="removeChallenge(rowData)">
                    <span class="fa fa-remove"></span>
                </button>
                <button class="btn btn-sm btn-success" (click)="editChallenge(rowData)">
                    <span class="fa fa-pencil"></span>
                </button> 
            </td>
        </tr>
    </ng-template>
</p-table>

<br/><br/>

<p-table *ngIf="challengeSelected" [value]="challengeSelected._challengeUsers" [paginator]="true" [rows]="10" 
selectionMode="single" [(selection)]="answerSelected" dataKey="id">
    <ng-template pTemplate="caption">            
            <b>Recieved answers to challenge</b>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>User</th>
            <th>When</th>
            <th>Answer</th>
            <th>Is Valid?</th> 
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
            <td>{{rowData.idUser}} - {{rowData._user.username}}</td>
            <td>{{rowData.when | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{rowData.answer}}</td>
            <td><p-triStateCheckbox [(ngModel)]="rowData.valid" label="" (onChange)="answerChanged($event)"></p-triStateCheckbox></td>        
        </tr>
    </ng-template>
</p-table>