.ng-password-strength-bar {
    height: 3px;
    background-color: #eee;
    margin-bottom: 3px;
}

.ng-password-strength-bar-inner {
    height: 100%;
}

.ng-password-strength-bar-inner.green {
    background-color: #61ae00;
}

.ng-password-strength-bar-inner.orange {
    background-color: #F90;
}

.ng-password-strength-bar-inner.red {
    background-color: #F00;
}

.main-header .sidebar-toggle:before {
    content: "" !important;
}

.content-wrapper {
    overflow: auto;
}

.loading-spinner {
    background: rgba(150, 150, 150, 0.5);
    z-index: 1000;
}