<script type="text/ng-template" id="/admin/userEditDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">
           <span ng-if="u.id"> Edit user {{u.fullname}} </span>
           <span ng-if="!u.id"> Create a new user </span>
        </h3>
    </div>
  
    <div class="modal-body" form-errors="$errors">
            <label for="username"><span translate="USERNAME"></span></label>
            <input class="form-control" name="username" id="username" type="text" ng-model="u.username" 
            uib-popover="{{$errors['username']}}" popover-trigger="'outsideClick'"/>
    
            <label for="fullname"><span translate="FULLNAME"></span></label>
            <input class="form-control" name="fullname" id="fullname" type="text" ng-model="u.fullname"
            uib-popover="{{$errors['fullname']}}" popover-trigger="'outsideClick'"/>
    
            <label for="password"><span translate="PASSWORD"></span></label>
            <input class="form-control" name="password" id="password" type="text" ng-model="u.password"
            uib-popover="{{$errors['password']}}" popover-trigger="'outsideClick'"/>

            <label for="phone"><span translate="RECOVERY_KEY"></span></label>
            <input class="form-control" name="phone" id="phone" type="text" ng-model="u.phone"
            uib-popover="{{$errors['phone']}}" popover-trigger="'outsideClick'"/>

            <label for="idRole"><span translate="ROLE"></span></label>
            <select class="form-control" name="idRole" ng-model="role" uib-popover="{{$errors['idRole']}}" popover-trigger="'mouseenter'"
                ng-options="item as item.label for item in UserRoles track by item.value">
            </select>
    
            <label for="email"><span translate="EMAIL"></span></label>
            <input class="form-control" name="email" id="email" type="text" ng-model="u.email"
            uib-popover="{{$errors['email']}}" popover-trigger="'outsideClick'"/>

             
            <label for="emailPassword"><span translate="EMAIL"></span><span translate="PASSWORD"></span></label>
            <input  class="form-control" class="form-control" name="email" id="emailPassword" type="text" ng-model="u.emailPassword"
            uib-popover="{{$errors['emailPassword']}}" popover-trigger="'outsideClick'"/>

            <label for="valid"><span translate="VALID"></span></label>
            <select class="form-control" name="valid" ng-model="valid" uib-popover="{{$errors['valid']}}" popover-trigger="'mouseenter'">
                <option ng-label="DISABLED" ng-value="0"></option>
                <option ng-label="ENABLED" ng-value="1"></option>
                <option ng-label="PENDING" ng-value="-1"></option>
            </select>

            <label for="parents"><span translate="PARENTS"></span></label>
            <input  name="parents" id="parents" type="checkbox" ng-model="u.parents"
            uib-popover="{{$errors['parents']}}" popover-trigger="'mouseenter'"/><br/>
            

            <div ng-if="u.parents">
                    <label for="email"><span translate="PASSWORD"></span> <span translate="PARENTS"></span></label>
                    <input class="form-control" name="email" id="passwordParents" type="text" ng-model="u.passwordParents"
                    uib-popover="{{$errors['passwordParents']}}" popover-trigger="'outsideClick'"/>

                    <label for="email"><span translate="EMAIL"></span> <span translate="PARENTS"></span></label>
                    <input class="form-control" name="email" id="emailParents" type="text" ng-model="u.emailParents"
                    uib-popover="{{$errors['emailParents']}}" popover-trigger="'outsideClick'"/>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning glyphicon glyphicon-remove" ng-click="cancel()"><span translate="CANCEL"></span></button>
        <button class="btn btn-primary glyphicon glyphicon-ok" ng-click="ok()">
            <span translate="ACCEPT"></span>
        </button>    
    </div>


</script>

<div class="container-fluid">

    <div class="row">
        <div>
            <h5 class="bg-info">
                <button ng-click="vm.newCenter()" class="btn btn-success">
                    <i class="glyphicon glyphicon-plus-sign"></i> Create center</button>
                Centers available
            </h5>
            <br>
            <div loading-container="vm.tableParams0.$loading">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th ng-click="vm.tableParams0.sortBy('id')" class="cursor-hand"> id
                                <b ng-class="vm.tableParams0.params.classes.id"></b>
                            </th>
                            <th ng-click="vm.tableParams0.sortBy('schoolName')" class="cursor-hand"> School name
                                <b ng-class="vm.tableParams0.params.classes.schoolName"></b>
                            </th>
                            <th ng-click="vm.tableParams0.sortBy('professorName')" class="cursor-hand"> Teacher Name
                                <b ng-class="vm.tableParams0.params.classes.professorName"></b>
                            </th>
                            <th>Teacher Email</th>
                            <th ng-click="vm.tableParams0.sortBy('language')" class="cursor-hand"> Default Language
                                <b ng-class="vm.tableParams0.params.classes.language"></b>
                            </th>
                            <th>Enroll password</th>
                            <th>Allow external enroll</th>
                            <th>Allow publish scores</th>
                            <th style="width:150px">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="u in vm.tableParams0.$data" ng-click="vm.changeSelection(u)" ng-class="u==selection?'bg-warning':''" form-errors="u.$errors">
                            <td>
                                {{u.id}}
                            </td>
                            <td>
                                <span ng-if="!u.edit">{{u.schoolName}}</span>
                                <span ng-if="u.edit">
                                    <input type="text" ng-model="u.schoolName" name="schoolName" uib-popover="{{u.$errors['schoolName']}}" popover-trigger="'outsideClick'"
                                    />
                                </span>
                            </td>
                            <td>
                                <span ng-if="!u.edit">{{u.professorName}}</span>
                                <span ng-if="u.edit">
                                    <input type="text" ng-model="u.professorName" name="professorName" uib-popover="{{u.$errors['professorName']}}" popover-trigger="'outsideClick'"
                                    />
                                </span>
                            </td>
                            <td>
                                <span ng-if="!u.edit">{{u.professorEmail}}</span>
                                <span ng-if="u.edit">
                                    <input type="text" ng-model="u.professorEmail" name="professorEmail" uib-popover="{{u.$errors['professorEmail']}}" popover-trigger="'outsideClick'"
                                    />
                                </span>
                            </td>
                            <td>
                                <select ng-model="u.language" ng-disabled="!u.edit" name="language" uib-popover="{{u.$errors['language']}}" popover-trigger="'mouseover'">
                                    <option label="Català" value="ca"></option>
                                    <option label="Español" value="es"></option>
                                    <option label="English" value="en"></option>
                                </select>
                            </td>

                            <td>
                                <input type="text" ng-model="u.enrollPassword" ng-disabled="!u.edit" name="enrollPassword" uib-popover="{{u.$errors['enrollPassword']}}"
                                    popover-trigger="'outsideClick'" />
                            </td>

                            <td>
                                <input type="checkbox" ng-model="u.canEnroll" ng-disabled="!u.edit" ng-true-value="1" ng-false-value="0" name="canEnroll"
                                    uib-popover="{{u.$errors['canEnroll']}}" popover-trigger="'mouseover'" />
                            </td>

                            <td>
                                <input type="checkbox" ng-model="u.canPublish" ng-disabled="!u.edit" ng-true-value="1" ng-false-value="0" name="canPublish"
                                    uib-popover="{{u.$errors['canPublish']}}" popover-trigger="'mouseover'" />
                            </td>

                            <td style="width:150px">
                                <div>
                                    <button class='glyphicon glyphicon-trash' title="delete" ng-if="!u.edit && u.id" ng-click='vm.confirmDlg0(u)'> </button>
                                    <button class='glyphicon glyphicon-pencil' title="edit" ng-if="!u.edit" ng-click='u.edit = !u.edit;vm.edit0(u)'> </button>
                                    <button class='btn-success glyphicon glyphicon-save' title="save" ng-if="u.edit" ng-click='vm.save0(u)'> </button>
                                    <button class='btn-danger glyphicon glyphicon-stop' title="cancel" ng-if="u.edit" ng-click='vm.cancel0(u);u.edit = !u.edit'>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <ul class="pull-left" uib-pagination items-per-page="vm.tableParams0.params.count" total-items="vm.tableParams0.params.total"
                    ng-model="vm.tableParams0.params.page" max-size="vm.tableParams0.params.maxSize" class="pagination-sm" boundary-links="true"
                    force-ellipses="true" ng-change="vm.tableParams0.paginate()"></ul>
                <div class="btn-group pull-right">
                    <button ng-repeat="b in vm.tableParams0.params.counts" type="button" class="btn" ng-class="b===vm.tableParams0.params.count?'btn-primary':'btn-default'"
                        ng-click="vm.tableParams0.setCount(b)">{{b}}</button>
                </div>

            </div>
        </div>

    </div>
    <div class="row" ng-if="vm.selection && vm.selection.id">

        <h5 class="bg-info">
            <button ng-click="vm.newTeacher()" class="btn btn-success">
                <i class="glyphicon glyphicon-plus-sign"></i> Create teacher</button>

            Users in {{vm.selection.schoolName}}
        </h5>
        <br>
        <input type="checkbox" ng-model="vm.showStudents" ng-change="vm.toggle()"></input>Show students
        <div loading-container="vm.tableParams.$loading">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th ng-click="vm.tableParams.sortBy('id')" class="cursor-hand"> id
                            <b ng-class="vm.tableParams.params.classes.id"></b>
                        </th>
                        <th ng-click="vm.tableParams.sortBy('fullname')" class="cursor-hand"> Full name
                            <b ng-class="vm.tableParams.params.classes.fullname"></b>
                        </th>
                        <th ng-click="vm.tableParams.sortBy('username')" class="cursor-hand"> Username
                            <b ng-class="vm.tableParams.params.classes.username"></b>
                        </th>
                        <th>Password</th>
                        <th ng-click="vm.tableParams.sortBy('email')" class="cursor-hand"> Email
                            <b ng-class="vm.tableParams.params.classes.email"></b>
                        </th>
                        <th ng-click="vm.tableParams.sortBy('phone')" class="cursor-hand"> Recovery Key
                            <b ng-class="vm.tableParams.params.classes.phone"></b>
                        </th>
                        <th ng-click="vm.tableParams.sortBy('idRole')" class="cursor-hand"> Role
                            <b ng-class="vm.tableParams.params.classes.idRole"></b>
                        </th>
                        <th ng-click="vm.tableParams.sortBy('valid')" class="cursor-hand"> Status
                            <b ng-class="vm.tableParams.params.classes.valid"></b>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in vm.tableParams.$data">
                        <td>
                            {{u.id}}
                        </td>
                        <td>
                            <span>{{u.fullname}}</span>
                        </td>
                        <td>
                            <span>{{u.username}}</span>
                        </td>
                        <td>
                            <span>{{mask ? (u.password ? "******" : "") : u.password}}</span>
                        </td>
                        <td>
                            <span>{{u.email}}</span>
                        </td>
                        <td>
                            <span>{{u.phone}}</span>
                        </td>
                        <td>
                            <span>{{u.idRole | rolename}}</span>
                        </td>

                        <td>
                            <span>{{u.valid | statusname}}</span>
                        </td>

                        <td>
                            <div>
                                <button class='glyphicon glyphicon-trash' title="delete" ng-click='vm.confirmDlg(u)'></button>
                                <button class='glyphicon glyphicon-pencil' title="edit" ng-if="!u.edit" ng-click='vm.edit(u)'></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


            <ul class="pull-left" uib-pagination items-per-page="vm.tableParams.params.count" total-items="vm.tableParams.params.total"
                ng-model="vm.tableParams.params.page" max-size="vm.tableParams.params.maxSize" class="pagination-sm" boundary-links="true"
                force-ellipses="true" ng-change="vm.tableParams.paginate()"></ul>
            <div class="btn-group pull-right">
                <button ng-repeat="b in tableParams.params.counts" type="button" class="btn" ng-class="b===vm.tableParams.params.count?'btn-primary':'btn-default'"
                    ng-click="vm.tableParams.setCount(b)">{{b}}</button>
            </div>
        </div>

    </div>
</div>