<div class="modal-header">
    <h3 class="modal-title">
        <span ng-if="u.id"> Edit user {{u.fullname}} </span>
        <span ng-if="!u.id"> Create a new user </span>
    </h3>
</div>

<div class="modal-body" form-errors="$errors">
    <label for="username">
        <span translate="USERNAME"></span>
    </label>
    <input class="form-control" name="username" id="username" type="text" ng-model="u.username" uib-popover="{{$errors['username']}}"
        popover-trigger="'outsideClick'" />

    <label for="fullname">
        <span translate="FULLNAME"></span>
    </label>
    <input class="form-control" name="fullname" id="fullname" type="text" ng-model="u.fullname" uib-popover="{{$errors['fullname']}}"
        popover-trigger="'outsideClick'" />

    <label for="password">
        <span translate="PASSWORD"></span>
    </label>
    <input class="form-control" name="password" id="password" type="text" ng-model="u.password" uib-popover="{{$errors['password']}}"
        popover-trigger="'outsideClick'" ng-password-strength autocomplete="off" autocapitalize="none" autocorrect="off" />

    <label for="phone">
        <span translate="RECOVERY_KEY"></span>
    </label>
    <input class="form-control" name="phone" id="phone" type="text" ng-model="u.phone" uib-popover="{{$errors['phone']}}" popover-trigger="'outsideClick'"
    />

    <label for="idRole">
        <span translate="ROLE"></span>
    </label>
    <select class="form-control" name="idRole" ng-model="role" uib-popover="{{$errors['idRole']}}" popover-trigger="'mouseenter'"
        ng-options="item as item.label disable when item.disabled for item in UserRoles track by item.value">
    </select>

    <label for="email">
        <span translate="EMAIL"></span>
    </label>
    <input class="form-control" name="email" id="email" type="text" ng-model="u.email" uib-popover="{{$errors['email']}}" popover-trigger="'outsideClick'"
    />


    <label for="emailPassword">
        <span translate="EMAILPASSWORD"></span>
    </label>
    <input class="form-control" class="form-control" name="email" id="emailPassword" type="text" ng-model="u.emailPassword" uib-popover="{{$errors['emailPassword']}}"
        popover-trigger="'outsideClick'" />

    <label for="valid">
        <span translate="VALID"></span>
    </label>
    <select class="form-control" name="valid" ng-model="valid" uib-popover="{{$errors['valid']}}" popover-trigger="'mouseenter'"
        ng-options="item as item.label for item in ValidityOptions track by item.value">
    </select>

    <label for="parents">
        <span translate="PARENTS"></span>
    </label>
    <input name="parents" id="parents" type="checkbox" ng-model="u.parents" uib-popover="{{$errors['parents']}}" popover-trigger="'mouseenter'"
    />
    <br/>


    <div ng-if="u.parents">
        <label for="passwordParents">
            <span translate="PASSWORD"></span>
            <span translate="PARENTS"></span>
        </label>
        <input class="form-control" name="email" id="passwordParents" type="text" ng-model="u.passwordParents" uib-popover="{{$errors['passwordParents']}}"
            popover-trigger="'outsideClick'" ng-password-strength autocomplete="off" autocapitalize="none" autocorrect="off"
        />

        <label for="emailParents">
            <span translate="EMAIL"></span>
            <span translate="PARENTS"></span>
        </label>
        <input class="form-control" name="email" id="emailParents" type="text" ng-model="u.emailParents" uib-popover="{{$errors['emailParents']}}"
            popover-trigger="'outsideClick'" />
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning fa fa-remove" ng-click="cancel()">
        <span translate="CANCEL"></span>
    </button>
    <button class="btn btn-primary fa fa-check" ng-click="ok()">
        <span translate="ACCEPT"></span>
    </button>
</div>