<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="piWorld site">
    <meta name="author" content="Josep Mulet">
    <link rel="icon" href="/favicon.ico">

    <title>piWorld desktop</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/libs/bootstrap-4.0.0-beta2/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

    <h1>Welcome <%=fullname %> to piWorld. Your role is <%=idRole %></h1>
    <h1 class="alert alert-warning">You are in admin console</h1>
    <form class="form-signin" action="logout" method="POST">
        <button class="btn btn-lg btn-danger" type="submit">Exit</button>
    </form>

    </div> <!-- /container -->
  </body>
</html>