<div class="panel panel-default panel-transparency" >

        <div class="panel-heading">                         
    
            <button title="refresh" class="btn btn-xs glyphicon glyphicon-refresh" ng-click="vm.reload(true)"></button>
            <button class="btn btn-xs btn-primary glyphicon" ng-class="vm.tgs.globalCollapse ? 'glyphicon-collapse-down' : 'glyphicon-collapse-up'" ng-click="vm.toggleGlobalCollapse()"></button>   
    
            <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-xs btn-default dropdown-toggle" uib-dropdown-toggle >
                    <span style="max-width: 300px"><span ng-style="{'background-color': vm.group.groupYear === vm.currentYear?'lightgreen':'lightsalmon'}">
                            {{vm.group.groupYear + "/" + (vm.group.groupYear + 1)}}</span>{{": "+vm.group.groupName}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li ng-repeat="g in vm.user.groups| filter: vm.noGhostFilter track by $index">
                        <a href="" ng-click="vm.group = g; vm.onChangeGrp(true);">
                            <span  ng-style="{'background-color': g.groupYear === vm.currentYear?'lightgreen':'lightsalmon'}">
                                {{g.groupYear + "/" + (g.groupYear + 1)}} </span>{{": "+g.groupName}}</a>
                    </li>
                </ul>
            </div>  
    
            <div class="btn-group pull-right">
                <button class="btn btn-xs btn-warning glyphicon glyphicon-star-empty" ng-click="vm.gotoActiveUnit()"></button>            
            </div>
    
        </div> <!--End panel-heading -->
    
    
        <div id='maincol-scroll' class='maincol-scroll' ng-style="{'margin': vm.mobile?'40px 0px 40px':'4px 0px 4px'}">
            <div  class="panel-body" style="margin:0px; padding:0px">
                <div class="list-group" style="margin:0px">
    
                    <div class="list-group-item" style='padding: 0px;' ng-repeat="u in vm.units track by u.id">
                        <div ng-if="$index > 0 || u.assignments.length">
                            <div ng-class="vm.group.currentUnit === u.id ? 'list-group-item-heading unit-current' : 'list-group-item-heading unit-visible'">
                                <h5><button ng-click="u.collapsed = !u.collapsed" class="btn btn-xs">
                                        <span style="color:black" ng-class="u.collapsed ? 'glyphicon glyphicon-collapse-up' : 'glyphicon glyphicon-collapse-down'"></span>
                                    </button>
                                    <!--<span translate="UNIT"></span> {{$index}}. -->
                                    <span class='unit-title' style="width:80%">{{u.unit| uppercase}}</span>
    
                                    <span class='pull-right' ng-class="vm.group.currentUnit === u.id ? 'glyphicon glyphicon-star' : ''"></span>                                                               
                                </h5>
                            </div>
    
                            <ul class="list-unstyled" ng-hide="u.collapsed">
                                <li ng-repeat="a in u.assignments track by a.id">
    
                                    <div ng-if="vm.group.currentUnit === u.id || $first || u.showAll || u.order == 0" 
                                         ng-class="a.idActivity === 0 ? 'asgn' : (a.open ? (a.collapsed ? 'asgn asgn-green' : 'asgn ow') : 'asgn asgn-gray')"> 
    
                                        <div ng-if="a.idActivity > 0">     
                                            <span class="badge">{{a.idActivity}}</span>
                                            <b>{{a.activity}}</b>
                                            <div class="pull-right">
                                                <span ng-if="!a.assigned" class="picoin" title="{{a.score + ' ' + a.vscore + ' ' + a.uscore}}"> {{a.score + a.vscore + a.uscore}}</span> <!--student-->
                                                <button ng-click="vm.goAsgn(a, u.assignments)" class="btn-xs glyphicon glyphicon-play-circle" ng-class="a.open === 1 ? 'btn-success' : 'btn-default'"></button>
                                            </div>
                                        </div> 
    
                                        <div style="background-color: white">
                                            <table style="width:100%;">
                                                <tr>
                                                    <td><img class="rborder cursor-hand" ng-if='a.icon' ng-src="{{a.icon}}" width="150px" alt="pic" ng-click="vm.goAsgn(a, u.assignments)"/></td>
                                                    <td><div style="padding-left: 5px" compile='a.instructions'></div></td>                                                     
                                                </tr>
                                            </table>
    
                                            <div ng-if="a.idActivity > 0 && ((a.fromDate || a.toDate) || a.maxAttempts > 0)" style="border-top: solid; border-color: #aaa; height: 20px">
                                                <span ng-if="a.fromDate || a.toDate"><i translate='PERIODE'></i>: {{a.fromDate| date:"dd-MM-yyyy" }} &#8594; {{a.toDate| date:"dd-MM-yyyy"}}</span>
                                                <span ng-if="a.open === 1 && a.maxAttempts === 0" class="pull-right" translate="UNLIMITED_ATTEMPTS"></span>
                                                <span ng-if="a.open === 1 && a.maxAttempts > 0" class="pull-right" translate="YOU_HAVE_ATTEMPTS" translate-values="{remains: (a.maxAttempts-a.doneAttempts)}"></span>                                                                                                                    
                                                <span ng-if="a.open != 1" class="pull-right" translate="CLOSED" style='color: red;'></span>                                                            
                                            </div>
                                        </div>
                                    </div>
    
                                </li> 
    
    
                                <div ng-if="vm.group.currentUnit !== u.id && u.assignments.length > 1 && !u.showAll && u.order != 0" class="text-center">
                                    <button class="glyphicon glyphicon-menu-down form-control" ng-click="vm.showAllIn(u)"> <span translate="SHOW_MORE"></span></button>
                                </div>
    
                            </ul>
    
                        </div>
                    </div>
                </div>
    
    
            </div>
    
    
        </div> <!--end maincol-scroll-->
    </div> <!--end panel>
    