
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog> 

<app-news-edit *ngIf="newsEdtForm" [formGroup]="newsEdtForm" (onSave)="reload($event)"></app-news-edit>

<p-overlayPanel #op>
    <div *ngIf="opData">
            {{opData.title}}
            <div [innerHtml]="opData.html">
            </div>
    </div>        
</p-overlayPanel>

<p-table #tableTarget [value]="news" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="newsSelected"
    dataKey="id" (onRowSelect)="onRowSelected($event)" (onRowReorder)="onRowReorder($event)">
    <ng-template pTemplate="caption">
            <button class="btn btn-sm" (click)="reload(null)">
                    <span class="fa fa-refresh"></span>
            </button>
             News
            <button class="btn btn-sm btn-success" (click)="createNews()">
                <span class="fa fa-plus-circle"></span>
            </button>
       
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Order</th>
            <th>Title</th>
            <th>Content</th>
            <th>Expires</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-index="rowIndex">
        <tr [pSelectableRow]="rowData" [pReorderableRow]="index">
            <td>
                <i class="fa fa-bars" pReorderableRowHandle></i> 
                {{index + 1}}
            </td>
            <td>{{rowData.title}}</td>
            <td>
                <button class="btn btn-info" (click)="opData=rowData;op.show($event)"><span class="fa fa-search"></span></button>
                {{rowData.html}}
            </td>
            <td>{{rowData.expires | date: "dd/MM/yyyy"}}</td> 
            <td>
                <button class="btn btn-sm btn-danger" (click)="removeNews(rowData)">
                    <span class="fa fa-remove"></span>
                </button>
                <button class="btn btn-sm btn-success" (click)="editNews(rowData)">
                    <span class="fa fa-pencil"></span>
                </button> 
                <button *ngIf="index > 0" class="btn btn-sm btn-primary" (click)="moveUp(index)" [disabled]="savingOrdering">
                        <span class="fa fa-arrow-up"></span>
                </button> 
                <button  *ngIf="index < news.length-1" class="btn btn-sm btn-primary" (click)="moveDown(index)" [disabled]="savingOrdering">
                        <span class="fa fa-arrow-down"></span>
                </button> 
            </td>
        </tr>
    </ng-template>
</p-table>