<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> <%=config.version%>
    </div>
    <strong>&copy; 2014-2018
        <a href="https://piworld.es"><%=config.author%></a>.</strong>
</footer>