 
<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon">☰</span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
        </li>
    </ul>

   
  

    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#">
                <i class="icon-bell"></i>
                <span class="badge badge-pill badge-danger">5</span>
            </a>
        </li>
        <li class="nav-item d-md-down-none">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-users"></i>
                <span id="online-number" class="badge badge-pill badge-info">1</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
            
                <div class="dropdown-header">
                    <strong>Online</strong>
                </div>
             
                <ul id="online-menu" class="menu" style="max-height:400px; overflow-y: auto;">
                                         
                    <!-- end message -->
                    <a class="dropdown-item" href="#">
                        See all participants 
                    </a>
                </ul>
            
            </div>
        </li>
     
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="/demo/assets/img/avatar/<%=user.uopts.avatar || 0%>.png" class="img-circle" height="38px" alt="User Image">
                <span class="d-md-down-none">
                    <%=user.username%>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">

                <div class="dropdown-header text-center">
                    <strong>Account</strong>
                </div>

                <a class="dropdown-item" href="#">
                    <i class="fa fa-bell-o"></i> Avatar
                    <span class="badge badge-info">*</span>
                </a>

                <a class="dropdown-item" href="#">
                    <i class="fa fa-shield"></i> Change password</a>

                <div class="dropdown-header text-center">
                    <strong>Session</strong>
                </div>

                <div class="divider"></div>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-shield"></i> Lock Account</a>
                <a class="dropdown-item" href="#" id="logout">
                    <i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
    </ul>
</header>
 