
<div class="container-fluid">
  
    <div class="row">
        <div>
            <h5 class="bg-info">Centers available
                <button ng-click="vm.newCenter()" class="btn btn-success glyphicon glyphicon-plus-sign">Create center</button>
            </h5>
            <br> 
            <div loading-container="vm.tableParams0.$loading">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th ng-click="vm.tableParams0.sortBy('id')" class="cursor-hand"> id
                                <b ng-class="vm.tableParams0.params.classes.id"></b>
                            </th>
                            <th ng-click="vm.tableParams0.sortBy('schoolName')" class="cursor-hand"> School name
                                <b ng-class="vm.tableParams0.params.classes.schoolName"></b>
                            </th>
                            <th ng-click="vm.tableParams0.sortBy('professorName')" class="cursor-hand"> Teacher Name
                                <b ng-class="vm.tableParams0.params.classes.professorName"></b>
                            </th>
                            <th>Teacher Email</th>
                            <th ng-click="vm.tableParams0.sortBy('language')" class="cursor-hand"> Default Language
                                <b ng-class="vm.tableParams0.params.classes.language"></b>
                            </th>
                            <th>Enroll password</th>
                            <th>Allow external enroll</th>
                            <th>Allow publish scores</th>
                            <th style="width:150px">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="u in vm.tableParams0.$data" ng-click="vm.changeSelection(u)" ng-class="u==selection?'bg-warning':''">
                            <td>
                                {{u.id}}
                            </td>
                            <td>
                                <span ng-if="!u.edit">{{u.schoolName}}</span>
                                <span ng-if="u.edit">
                                    <input type="text" ng-model="u.schoolName" name="schoolName" form-errors="vm.errors0"/>
                                </span>
                            </td>
                            <td>
                                <span ng-if="!u.edit">{{u.professorName}}</span>
                                <span ng-if="u.edit">
                                    <input type="text" ng-model="u.professorName" name="professorName" form-errors="vm.errors0" />
                                </span>
                            </td>
                            <td>
                                <span ng-if="!u.edit">{{u.professorEmail}}</span>
                                <span ng-if="u.edit">
                                    <input type="text" ng-model="u.professorEmail" name="professorEmail" form-errors="vm.errors0" />
                                </span>
                            </td>
                            <td>
                                <select ng-model="u.language" ng-disabled="!u.edit" name="language" form-errors="vm.errors0">
                                    <option label="Català" value="ca"></option>
                                    <option label="Español" value="es"></option>
                                    <option label="English" value="en"></option>
                                </select>
                            </td>

                            <td>
                                <input type="text" ng-model="u.enrollPassword" ng-disabled="!u.edit" name="enrollPassword" form-errors="vm.errors0"/>
                            </td>

                            <td>
                                <input type="checkbox" ng-model="u.canEnroll" ng-disabled="!u.edit" ng-true-value="1" ng-false-value="0"  name="canEnroll" form-errors="vm.errors0" />
                            </td>

                            <td>
                                <input type="checkbox" ng-model="u.canPublish" ng-disabled="!u.edit" ng-true-value="1" ng-false-value="0"  name="canPublish" form-errors="vm.errors0"/>
                            </td>

                            <td style="width:150px">
                                <div>
                                    <button class='glyphicon glyphicon-trash' title="delete" ng-click='confirmDlg0(u)'> </button>
                                    <button class='glyphicon glyphicon-pencil' title="edit" ng-if="!u.edit" ng-click='u.edit = !u.edit;edit0(u)'> </button>
                                    <button class='btn-success glyphicon glyphicon-save' title="save" ng-if="u.edit" ng-click='save0(u)'> </button>
                                    <button class='btn-danger glyphicon glyphicon-stop' title="cancel" ng-if="u.edit" ng-click='cancel0(u);u.edit = !u.edit'>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <ul class="pull-left" uib-pagination items-per-page="vm.tableParams0.params.count" total-items="vm.tableParams0.params.total" ng-model="vm.tableParams0.params.page"
                    max-size="vm.tableParams0.params.maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"
                    ng-change="vm.tableParams0.paginate()"></ul>
                <div class="btn-group pull-right">
                    <button ng-repeat="b in vm.tableParams0.params.counts" type="button" class="btn" ng-class="b===vm.tableParams0.params.count?'btn-primary':'btn-default'"
                        ng-click="vm.tableParams0.setCount(b)">{{b}}</button>
                </div>

            </div>
        </div>

    </div>
    <div class="row" ng-if="selection && selection.id">

        <h5 class="bg-info">Users in {{selection.schoolName}}
            <button ng-click="vm.newTeacher()" class="btn btn-success glyphicon glyphicon-plus-sign">Create teacher</button>
        </h5>
        <br>
        <input type="checkbox" ng-model="showStudents" ng-change="toggle()"></input>Show students
        <div loading-container="vm.tableParams.$loading">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th ng-click="vm.tableParams.sortBy('id')" class="cursor-hand"> id
                            <b ng-class="vm.tableParams.params.classes.id"></b>
                        </th>
                        <th ng-click="vm.tableParams.sortBy('fullname')" class="cursor-hand"> Full name
                            <b ng-class="vm.tableParams.params.classes.fullname"></b>
                        </th>
                        <th ng-click="vm.tableParams.sortBy('username')" class="cursor-hand"> Username
                            <b ng-class="vm.tableParams.params.classes.username"></b>
                        </th>
                        <th>Password</th>
                        <th ng-click="vm.tableParams.sortBy('email')" class="cursor-hand"> Email
                            <b ng-class="vm.tableParams.params.classes.email"></b>
                        </th>
                        <th ng-click="vm.tableParams.sortBy('phone')" class="cursor-hand"> Recovery Key
                            <b ng-class="vm.tableParams.params.classes.phone"></b>
                        </th>
                        <th ng-click="vm.tableParams.sortBy('idRole')" class="cursor-hand"> Role
                            <b ng-class="vm.tableParams.params.classes.idRole"></b>
                        </th>
                        <th ng-click="vm.tableParams.sortBy('valid')" class="cursor-hand"> Status
                            <b ng-class="vm.tableParams.params.classes.valid"></b>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in vm.tableParams.$data">
                        <td>
                            {{u.id}}
                        </td>
                        <td>
                            <span ng-if="!u.edit">{{u.fullname}}</span>
                            <span ng-if="u.edit">
                                <input type="text" ng-model="u.fullname" />
                            </span>
                        </td>
                        <td>
                            <span ng-if="!u.edit">{{u.username}}</span>
                            <span ng-if="u.edit">
                                <input type="text" ng-model="u.username" />
                            </span>
                        </td>
                        <td>
                            <span ng-if="!u.edit">{{mask ? (u.password ? "******" : "") : u.password}}</span>
                            <span ng-if="u.edit">
                                <input type="text" ng-model="u.password" />
                            </span>
                        </td>
                        <td>
                            <span ng-if="!u.edit">{{u.email}}</span>
                            <span ng-if="u.edit">
                                <input type="text" ng-model="u.email" />
                            </span>
                        </td>
                        <td>
                            <span ng-if="!u.edit">{{u.phone}}</span>
                            <span ng-if="u.edit">
                                <input type="text" ng-model="u.phone" />
                            </span>
                        </td>
                        <td>
                            <span ng-if="!u.edit">{{u.idRole | rolename}}</span>
                            <span ng-if="u.edit">
                                <select ng-model="u.idRole">
                                    <option label="TEACHER" value="100"></option>
                                    <option label="TEACHER ADMIN" value="110"></option>
                                    <option label="STUDENT" value="200">
                                        <option label="ADMINISTRATOR" value="0"></option>
                                </select>
                            </span>
                        </td>

                        <td>
                            <span ng-if="!u.edit">{{u.valid | statusname}}</span>
                            <span ng-if="u.edit">
                                <select ng-model="u.valid">
                                    <option label="ENABLED" value="1"></option>
                                    <option label="DISABLED" value="0"></option>
                                    <option label="PENDING" value="-1"></option>
                                </select>
                            </span>
                        </td>

                        <td>
                            <div>
                                <button class='glyphicon glyphicon-trash' title="delete" ng-click='confirmDlg(u)' ng-if="user.idRole === USER_ROLES.admin || (user.id != u.id && u.idRole !== USER_ROLES.teacheradmin)">
                                </button>
                                <button class='glyphicon glyphicon-pencil' title="edit" ng-if="!u.edit" ng-click='u.edit = !u.edit;
                                edit(u)'> </button>
                                <button class='btn-success glyphicon glyphicon-save' title="save" ng-if="u.edit" ng-click='u.edit = !u.edit;
                                save(u)'> </button>
                                <button class='btn-danger glyphicon glyphicon-stop' title="cancel" ng-if="u.edit" ng-click='cancel(u);
                                        u.edit = !u.edit'> </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


            <ul class="pull-left" uib-pagination items-per-page="vm.tableParams.params.count" total-items="vm.tableParams.params.total" ng-model="vm.tableParams.params.page"
                max-size="vm.tableParams.params.maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true" ng-change="vm.tableParams.paginate()"></ul>
            <div class="btn-group pull-right">
                <button ng-repeat="b in tableParams.params.counts" type="button" class="btn" ng-class="b===vm.tableParams.params.count?'btn-primary':'btn-default'"
                    ng-click="vm.tableParams.setCount(b)">{{b}}</button>
            </div>
        </div>

    </div>
</div>