<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425">
</p-confirmDialog>

<p-input-dialog [(visible)]="inputDlgShow" [header]="inputDlgHeader" [message]="inputDlgContent" mode="textarea" [(input)]="inputDlgText"
    (onClose)="inputDlgClosed($event)"></p-input-dialog>

<app-equation-edit *ngIf="equationForm" [formGroup]="equationForm" (onSave)="reloadEquations($event)"></app-equation-edit>
<app-quote-edit *ngIf="quoteForm" [formGroup]="quoteForm" (onSave)="reloadQuotes($event)"></app-quote-edit>
 
<p-table [value]="famous.equation" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
        <button class="btn btn-sm" (click)="reload('equation')">
            <span class="fa fa-refresh"></span>
        </button>
        <b>Famous equations</b>
        <button class="btn btn-sm btn-success" (click)="createEquation()">
            <span class="fa fa-plus-circle"></span>
        </button>
        <button class="btn btn-sm btn-dark" (click)="massiveImport('equation')">
            <span class="fa fa-import">Import</span>
        </button>

    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Title / Equation</th>
            <th>Url</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-index="rowIndex">
        <tr>
            <td>
                <a href="{{rowData.url || '#'}}" target="_blank">{{rowData.title}}</a>
                <p [katex]="rowData.eqn"></p>
                
            </td>
            <td>{{rowData.url}}</td>
            <td>
                <button class="btn btn-sm btn-danger" (click)="remove('equation', rowData)">
                    <span class="fa fa-remove"></span>
                </button>
                <button class="btn btn-sm btn-success" (click)="editEquation(rowData)">
                    <span class="fa fa-pencil"></span>
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>
<br/>
<br/>
<p-table [value]="famous.quote" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
        <button class="btn btn-sm" (click)="reload('quote')">
            <span class="fa fa-refresh"></span>
        </button>
        <b>Famous quotes</b>
        <button class="btn btn-sm btn-success" (click)="createQuote()">
            <span class="fa fa-plus-circle"></span>
        </button>
        <button class="btn btn-sm btn-dark" (click)="massiveImport('quote')">
            <span class="fa fa-import">Import</span>
        </button>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Quote</th>
            <th>Url</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-index="rowIndex">
        <tr>
             <td>       
                 <blockquote>
                     {{rowData.quote}}
                    <footer class="blockquote-footer"> 
                            <a href="{{rowData.url || '#'}}" target="_blank">{{rowData.author}}</a>
                        </footer>
                    </blockquote>        
            </td>
            <td>{{rowData.url}}</td>
            <td>
                <button class="btn btn-sm btn-danger" (click)="remove('quote', rowData)">
                    <span class="fa fa-remove"></span>
                </button>
                <button class="btn btn-sm btn-success" (click)="editQuote(rowData)">
                    <span class="fa fa-pencil"></span>
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>